.status {
	align-items: center;
	color: dimgray;
	display: flex;
	font-size: 20px;
	left: 0;
	height: 30px;
	justify-content: center;
	position: absolute;
	right: 0;
}

.player1Score {
	color: #f49100;
}
.player2Score {
	color: #ad7bfb;
}

.active {
	text-decoration: underline;
}

.top {
	font-weight: bold;
	top: 0;
}
.bottom {
	bottom: 0;
}

.hidden-dots {
	opacity: 0;
}

.dot {
	animation-duration: 1s;
	animation-name: cycle;
	animation-iteration-count: infinite;
	color: green;
}

.dot2 {
	animation-delay: 0.33s;
}
.dot3 {
	animation-delay: 0.66s;
}

@keyframes cycle {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}