.status {
	align-items: center;
	display: flex;
	font-size: 20px;
	left: 0;
	height: 30px;
	justify-content: center;
	position: absolute;
	right: 0;
}

.player1Score {
	color: brown;
}
.player2Score {
	color: green;
}

.active {
	text-decoration: underline;
}

.top {
	font-weight: bold;
	top: 0;
}
.bottom {
	bottom: 0;
}
