.tokenTarget {
	border: 2px dashed white;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
}
.tokenTarget:hover {
	cursor: pointer;
	opacity: 1;
}

.player1TokenTarget:hover {
	background: #f49100;
	border: 2px solid white;
}
.player2TokenTarget:hover {
	background: #ad7bfb;
	border: 2px solid white;
}
