.tokenTarget {
	border: 2px dashed dimgray;
	border-radius: 50%;
	opacity: 0.5;
	position: absolute;
	z-index: 2;
}
.tokenTarget:hover {
	border: 2px solid dimgray;
	cursor: pointer;
	opacity: 1;
}

.player1TokenTarget:hover {
	background: bisque;
}
.player2TokenTarget:hover {
	background: lightgreen;
}
