.square {
	background: antiquewhite;
	height: 100px;
	width: 100px;
	position: absolute;
	display: flex;
}

.inner-square {
	align-items: center;
	border: 2px solid dimgray;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	margin: -1px;
}