.square {
	background: antiquewhite;
	position: absolute;
	display: flex;
}

.inner-square {
	align-items: center;
	border: 2px solid dimgray;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	margin: -2px;
}

.player1Square {
	background-color: burlywood;
}
.player2Square {
	background-color: darkseagreen;
}
