.square {
	background: #343434;
	position: absolute;
	display: flex;
}

.inner-square {
	align-items: center;
	border: 2px solid black;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	margin: -2px;
}

.player1Square {
	background-color: #e38502;
}
.player2Square {
	background-color: #6408f7;
}
