.tokenTarget {
	border: 2px dashed dimgray;
	border-radius: 50%;
	opacity: 0.5;
	position: absolute;
}
.tokenTarget:hover {
	border: 2px solid dimgray;
	cursor: pointer;
	opacity: 1;
}

.player1TokenTarget {
	background: bisque;
}
.player2TokenTarget {
	background: lightgreen;
}
