.progressBarWrapper {
	align-items: center;
	bottom: -32px;
	display: flex;
	left: -2px;
	height: 30px;
	justify-content: center;
	position: absolute;
	right: 0;
}

.bar {
	background: antiquewhite;
	border: 2px solid dimgray;
	height: 10px;
	width: 100%;
}

.progress {
	animation-duration: 30s;
	animation-name: progressBar;
	animation-timing-function: linear;
	background: lightgreen;
	height: 100%;
}

@keyframes progressBar {
	from {
		width: 1%;
	}
	to {
		width: 100%;
	}
}